.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar div {
  -webkit-box-flex: 30px;
      -ms-flex: 30px;
          flex: 30px;
}

.navbar ul {
  list-style: none;
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.navbar ul li {
  display: inline;
  padding: 3px 5px;
  margin: 0px 2px;
  border-bottom: 2px solid transparent;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li:hover {
  border-color: cornflowerblue;
}
/*# sourceMappingURL=Navbar.css.map */