.navbar{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.3);
    padding: 5px 15px;
    display: flex;
    div{
        flex:30px
    }
    ul{
        list-style: none;
        flex:70%;
        li{
            display: inline;
            padding: 3px 5px;
            margin: 0px 2px;
            border-bottom: 2px solid transparent;
           a{
            text-decoration: none;
            color:white;
           }
           &:hover{
            border-color: cornflowerblue;

           }
        }
    }
}
