.Cookie {
  width: 90%;
  height: 110px;
  position: absolute;
  bottom: 20px;
  left: 5%;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.Cookie p {
  color: black;
}

.Cookie button {
  float: right;
  border: 1px solid black;
  background-color: cornflowerblue;
  padding: 5px 10px;
  font-size: 1rem;
}
/*# sourceMappingURL=Cookie.css.map */