@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.Loader{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    header{
        position: relative;
        width: 250px;
        height: 250px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @keyframes example {
            0%   {border-color: #F8B195;box-shadow: 3px 3px 6px #F8B195;}
            10%  {border-color: #F67280;box-shadow: 3px 3px 6px #F67280;}
            20%  {border-color: #C06C84;box-shadow: 3px 3px 6px #C06C84;}
            30% {border-color: #6C5B7B;box-shadow: 3px 3px 6px #6C5B7B;}
            40% {border-color: #355C7D;box-shadow: 3px 3px 6px #355C7D;}
            50% {border-color: #1C5C7D;box-shadow: 3px 3px 6px #1C5C7D;}
            60% {border-color: #355C7D;box-shadow: 3px 3px 6px #355C7D;}
            70% {border-color: #6C5B7B;box-shadow: 3px 3px 6px #6C5B7B;}
            80% {border-color: #C06C84;box-shadow: 3px 3px 6px #C06C84;}
            90% {border-color: #F67280;box-shadow: 3px 3px 6px #F67280;}
            100% {border-color: #F77280;box-shadow: 3px 3px 6px #F77280;}
          }
        .loader{
            border:3px solid white;
            height: 250px;
            border-radius: 30px;
            animation-name: example;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            h2{
                color: lavender;
                position: relative;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 0px;
                margin: 0px;
                text-align: center;
                font-family: 'Shadows Into Light', cursive;
                text-transform: uppercase!important;
                font-size:2rem;
            }
        }
    }
}