.container-grid {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  background-image: url(./../../../assets/images/o-mnie.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.container-grid .Description {
  position: absolute;
  width: 60%;
  left: 12%;
  top: 75%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
}

.container-grid .Description h1 {
  letter-spacing: 1px;
}

.container-grid .Description p {
  font-size: 1.2rem;
}
/*# sourceMappingURL=About.css.map */