.container-grid{
    grid-template-columns: auto auto;
    background-image: url(./../../../assets/images/o-mnie.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    .Description{
        position: absolute;
        width: 60%;
        left: 12%;
        top:75%;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.4);
        border-radius: 5px;
        padding: 10px 25px;
        color: white;
        h1{
            letter-spacing: 1px;

        }
        p{
            font-size: 1.2rem;
        }
    }
}
