.button{
    padding: 10px 15px;
    border-radius: 20px;
    border:1px solid darken($color: grey, $amount: 3);
}
.primary{
    background-color: cornflowerblue;
}
.danger{
    background-color: firebrick;
}
.info{
    background-color: orange;
}
.normal{
    background-color: slategray;
}