.button {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #787878;
}

.primary {
  background-color: cornflowerblue;
}

.danger {
  background-color: firebrick;
}

.info {
  background-color: orange;
}

.normal {
  background-color: slategray;
}
/*# sourceMappingURL=Buttons.css.map */