.NotFound{
    background: rgb(2,0,36);
    background: linear-gradient(214deg, rgba(2,0,36,1) 14%, rgba(9,9,121,1) 60%, rgba(0,212,255,1) 100%);
    //position: relative;
    width: 100%;
    height: 100vh;
    header{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
        color:white;
        h1{
            text-align: center;
        }
    }
}