.NotFound {
  background: #020024;
  background: linear-gradient(214deg, #020024 14%, #090979 60%, #00d4ff 100%);
  width: 100%;
  height: 100vh;
}

.NotFound header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.NotFound header h1 {
  text-align: center;
}
/*# sourceMappingURL=NotFound.css.map */